In [4]:
import os
import csv
import pandas as pd

os.chdir("C:\\Users\\Jeff\\Documents\\BootCamp\\USCRepository\\USCLOS201805DATA1-Class-Repository-DATA\\02-Homework\\03-Python\\Instructions\\PyPoll\\raw_data")
csvpath=os.path.join('..','raw_data','election_data_1.csv')

dset1 = pd.read_csv(csvpath)

In [5]:
os.chdir("C:\\Users\\Jeff\\Documents\\BootCamp\\USCRepository\\USCLOS201805DATA1-Class-Repository-DATA\\02-Homework\\03-Python\\Instructions\\PyPoll\\raw_data")
csvpath=os.path.join('..','raw_data','election_data_2.csv')

dset2 = pd.read_csv(csvpath)

In [10]:
#dset1.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [93]:
#dset2.head()

In [12]:
combi = [dset1,dset2]
dsetcombi = pd.concat(combi)

In [13]:
#dsetcombi.describe()

           Voter ID
count  4.324001e+06
mean   1.249365e+07
std    5.862069e+06
min    1.000000e+06
25%    1.078985e+07
50%    1.386059e+07
75%    1.692982e+07
max    2.000000e+07

In [14]:
#dset1.describe()

           Voter ID
count  8.030000e+05
mean   1.500181e+06
std    2.887343e+05
min    1.000000e+06
25%    1.250230e+06
50%    1.500102e+06
75%    1.750438e+06
max    1.999999e+06

In [15]:
#dset2.describe()

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07

In [16]:
dsetcombi["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
Vestal       385440
Torres       353320
O'Tooley     105630
Seth          40150
Cordin        24090
Name: Candidate, dtype: int64

In [19]:
total_votes = dsetcombi["Voter ID"].count()
print(total_votes)

4324001

In [66]:
#dsetcombi["Candidate"].value_counts()/total_votes

Khan        0.513004
Correy      0.162858
Li          0.114001
Vestal      0.089140
Torres      0.081711
O'Tooley    0.024429
Seth        0.009285
Cordin      0.005571
Name: Candidate, dtype: float64

In [71]:
print (dsetcombi["Candidate"].value_counts(sort=True)/total_votes)

Khan        0.513004
Correy      0.162858
Li          0.114001
Vestal      0.089140
Torres      0.081711
O'Tooley    0.024429
Seth        0.009285
Cordin      0.005571
Name: Candidate, dtype: float64

In [30]:
print(f'Election Results')

Election Results

In [46]:
print(f'------------------------')

------------------------

In [49]:
print(f'Total Votes: ',total_votes)

Total Votes:  4324001

In [50]:
print(f'------------------------')

------------------------

In [68]:
#print(f'Winner: ')

Winner:

In [92]:
results= dsetcombi["Candidate"].value_counts(sort=True)/total_votes
print(f'Winner: ', results.head(1))

Winner:  Khan    0.513004
Name: Candidate, dtype: float64

In [88]:
#results.head(1)

Khan    0.513004
Name: Candidate, dtype: float64

In [90]:
#print (results.head(1))

Khan    0.513004
Name: Candidate, dtype: float64

In [91]:
print(f'------------------------')

------------------------